<a href="https://colab.research.google.com/github/jrtradeltd/jrtradeltd/blob/main/Jobs_skill_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install selenium

Collecting selenium
  Downloading selenium-3.141.0-py2.py3-none-any.whl (904 kB)
     |████████████████████████████████| 904 kB 4.4 MB/s
Requirement already satisfied: urllib3 in /usr/local/lib/python3.7/dist-packages (from selenium) (1.24.3)
Installing collected packages: selenium
Successfully installed selenium-3.141.0

In [ ]:
from bs4 import BeautifulSoup as bs
from openpyxl.workbook import Workbook
import numpy as np
import requests
import pandas as pd
import re

from selenium import webdriver
from selenium.webdriver.chrome.options import Options
from selenium.webdriver.common.keys import Keys
import time

from selenium import webdriver


def websiteSearcher(x):
    search = x.replace(" ", "+")
    url = f"https://duckduckgo.com/?q=!ducky+{search}"
    return url

In [ ]:
indeed = requests.get(f"https://uk.indeed.com/jobs?q=web%20development&7=")
indeed_soup = bs(indeed.content, 'lxml')
togetto = f"https://uk.indeed.com/viewjob?jk=61d00786607da1ea&tk=1fg9lkirrtv3d802&from=serp&vjs=3"


indeed_jobs = indeed_soup.find("div", id="mosaic-provider-jobcards")
links = indeed_jobs.find_all("a", href=True)
viewjob = f"https://uk.indeed.com/viewjob?"

In [ ]:
skills = ["Phyton", "Matlab", "Python", "SQL", "Excel", "C++", "AWS", "POWERBI", "QLIK", "VBA", "R", "Django", "Flask", "HTML", "CSS", "JavaScript", "Tkinter" ]
df = pd.DataFrame(columns = ['Job Title'])
for a in indeed_jobs.find_all("a", href=True):
  linktest = a["href"]
  if "/rc" in linktest:
    mylink = viewjob + linktest.strip("/rc/clk?")
    skillrequest = requests.get(f"{mylink}")
    skillrequest_soup = bs(skillrequest.content, 'lxml')
    test = requests.get(f"{mylink}")
    test_soup = bs(test.content, 'lxml')
    jobtitle = test_soup.find("div", class_="jobsearch-JobInfoHeader-title-container")
    jobdesc = test_soup.find("div", id="jobDescriptionText")
    divs = jobdesc.find("div")
    for skill in skills:
      if skill in jobdesc.get_text():
        df = df.append({'Job Title': jobtitle.text, f"{skill}": "yes"}, ignore_index=True)
df

                                            Job Title    R  ... Python  C++
0                                        Web Engineer  yes  ...    NaN  NaN
1                                        Web Engineer  NaN  ...    NaN  NaN
2                                Junior Web Developer  NaN  ...    NaN  NaN
3                                Junior Web Developer  yes  ...    NaN  NaN
4                                Junior Web Developer  NaN  ...    NaN  NaN
5                                Junior Web Developer  NaN  ...    NaN  NaN
6                                Junior Web Developer  NaN  ...    NaN  NaN
7    Entry Level Web Developer, JavaScript, HTML, CSS  NaN  ...    NaN  NaN
8    Entry Level Web Developer, JavaScript, HTML, CSS  NaN  ...    NaN  NaN
9    Entry Level Web Developer, JavaScript, HTML, CSS  NaN  ...    NaN  NaN
10                                Senior Web Engineer  yes  ...    NaN  NaN
11                                Senior Web Engineer  NaN  ...    NaN  NaN
12  Temporary Web Developer full time until 23rd D...  NaN  ...    NaN  NaN
13  Temporary Web Developer full time until 23rd D...  yes  ...    NaN  NaN
14  Temporary Web Developer full time until 23rd D...  NaN  ...    NaN  NaN
15  Temporary Web Developer full time until 23rd D...  NaN  ...    NaN  NaN
16  Temporary Web Developer full time until 23rd D...  NaN  ...    NaN  NaN
17  Graduate Software Development Engineer I - Jan...  yes  ...    NaN  NaN
18  Graduate Software Development Engineer I - Jan...  NaN  ...    NaN  NaN
19  Graduate Software Development Engineer I - Jan...  NaN  ...    NaN  NaN
20  Graduate Software Development Engineer I - Jan...  NaN  ...    NaN  NaN
21                      Junior/Graduate Web Developer  NaN  ...    NaN  NaN
22                      Junior/Graduate Web Developer  NaN  ...    NaN  NaN
23                      Junior/Graduate Web Developer  yes  ...    NaN  NaN
24                      Junior/Graduate Web Developer  NaN  ...    NaN  NaN
25                      Junior/Graduate Web Developer  NaN  ...    NaN  NaN
26                      Junior/Graduate Web Developer  NaN  ...    NaN  NaN
27                                      Web developer  yes  ...    NaN  NaN
28                                      Web developer  NaN  ...    NaN  NaN
29                                      Web developer  NaN  ...    NaN  NaN
30                                      Web developer  NaN  ...    NaN  NaN
31                           Python and Web Developer  NaN  ...    yes  NaN
32                           Python and Web Developer  NaN  ...    NaN  NaN
33                           Python and Web Developer  NaN  ...    NaN  NaN
34                           Python and Web Developer  NaN  ...    NaN  yes
35                           Python and Web Developer  yes  ...    NaN  NaN
36                           Python and Web Developer  NaN  ...    NaN  NaN
37                           Python and Web Developer  NaN  ...    NaN  NaN
38                           Python and Web Developer  NaN  ...    NaN  NaN

[39 rows x 9 columns]

In [ ]:
df.count()

Job Title     39
R              8
CSS            9
SQL            4
HTML           7
JavaScript     7
Excel          2
Python         1
C++            1
dtype: int64

In [ ]:
pagelinks = indeed_soup.find("ul", class_="pagination-list")
for a in pagelinks.find_all("a", href=True):
  blinktest = a["href"]
  print(blinktest)

/jobs?q=web+development&start=10
/jobs?q=web+development&start=20
/jobs?q=web+development&start=30
/jobs?q=web+development&start=40
/jobs?q=web+development&start=10

https://uk.indeed.com/jobs?q=data+science&fromage=7&start=10